---
import BaseLayout from '../layouts/Layout.astro';
const pageTitle = "CV // Contacto y Experiencia";
---

<BaseLayout title={pageTitle}>
    <h2>{pageTitle}</h2>
    <p>Aquí irá el currículum en formato de texto y el botón de descarga en PDF.</p>
    <p>Continúa en Milestone 3...</p>
</BaseLayout>