---
// Importamos el layout que acabamos de crear
import BaseLayout from '../layouts/Layout.astro';
// Definimos el título específico para esta página (que BaseLayout usará)
const pageTitle = "La Cueva Virtual de Jose Shōta";

// Esto genera la fecha de hoy automáticamente
const lastUpdate = new Date().toLocaleDateString('es-ES', {
    year: 'numeric',
    month: '2-digit',
    day: '2-digit'
});
---

<BaseLayout title={pageTitle}>
    <h2>{pageTitle}</h2>
    
    <p>
        Bienvenido al archivo personal de Jose.
        Aquí yacen los escritos, las ediciones y la curaduría musical de un joven promedio.
        Además de la huella laboral y académica de Jose.
    </p>

    <p style="font-size: 0.8rem; opacity: 0.8;">
        [Última Actualización: {lastUpdate}]
    </p>

</BaseLayout>