---
import BaseLayout from '../layouts/Layout.astro';
const pageTitle = "La Cueva Virtual de Jose Shōta";

const lastUpdate = new Date().toLocaleDateString('es-ES', {
    year: 'numeric',
    month: '2-digit',
    day: '2-digit'
});
---

<BaseLayout title={pageTitle}>
    
    <h2>Hola, cibernauta</h2>
    
    <p>Bienvenido al archivo personal de Jose.</p>
    <p>Aquí yacen los escritos, la curaduría musical y las ediciones audiovisuales de un joven promedio.</p>
    <p>Además de la huella laboral y académica de Jose.</p>

    <div style="margin-top: 4rem;"></div>

    <div style="border: 1px solid #333; padding: 1rem; background: #000; font-size: 0.8rem; display: inline-block;">
        <p style="margin: 0; color: #666;">
            SYSTEM_STATUS: <span style="color: #1f67a2;">ONLINE</span><br/>
            LAST_UPDATE..: <span style="color: var(--color-highlight);">{lastUpdate}</span><br/>
            LOCATION.....: <span style="color: var(--color-text-light);">WORLD_WIDE_WEB</span>
        </p>
    </div>

</BaseLayout>