---
// 1. IMPORTA el diseñador
import BaseLayout from '../layouts/Layout.astro'; 
const pageTitle = "Jose Shota // Digital Garden";
---

<BaseLayout title={pageTitle}> 
    <h2>{pageTitle}</h2>
    
    <p>
        Bienvenido al archivo personal y curaduría de mi trabajo.
        Este sitio está diseñado con un enfoque en la performance y la tipografía.
    </p>

    <p>
        [Estado: En Construcción]
    </p>

</BaseLayout>