---
// Importamos el layout que acabamos de crear
import BaseLayout from '../layouts/Layout.astro';
// Definimos el título específico para esta página (que BaseLayout usará)
const pageTitle = "Jose Shota // Digital Garden";
---

<BaseLayout title={pageTitle}>
    <h2>{pageTitle}</h2>
    
    <p>
        Bienvenido al archivo personal y curaduría de mi trabajo.
        Este sitio está diseñado con un enfoque en la performance y la tipografía.
    </p>

    <p>
        [Última Actualización: 09/12/2025]
    </p>

</BaseLayout>