---
import BaseLayout from '../layouts/Layout.astro';
const pageTitle = "Archivo // Música y Curaduría";
---

<BaseLayout title={pageTitle}>
    <h2>{pageTitle}</h2>
    <p>Aquí irá el reproductor minimalista de Spotify/SoundCloud.</p>
    <p>Continúa en Milestone 3...</p>
</BaseLayout>