---
import BaseLayout from '../layouts/Layout.astro';
const pageTitle = "Portafolio // Proyectos Audiovisuales";
---

<BaseLayout title={pageTitle}>
    <h2>{pageTitle}</h2>
    <p>Aquí irá la galería de videos embebidos de YouTube/Vimeo.</p>
    <p>Continúa en Milestone 3...</p>
</BaseLayout>